@use '../abstracts/variables';
@use '../abstracts/mixins';

.pre-footer-text {
    color: white;

    h2 {
        font-size: 2.5rem;
        margin: 0;
    }
}

.section-pre-footer .container {
    display: flex;
    // flex-grow: 1; /* Cet élément doit prendre tout l'espace dispo */
    display: flex;
    justify-content: space-between;
    align-items: center;
}