@use '../abstracts/mixins';
@use '../abstracts/variables';

.badge {
    background-color: #ff6922;
    color: white;
    width: 80px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    justify-content: start;
}

.agents-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .card {
        width: 300px;
        margin: 1rem;
        
        .card-img-container {
            text-align: center;
        
            .agent-img {
                position: relative;
                margin: 1rem 5rem;
                border: 6px solid #edf0f5;
                border-radius: 50%;
                padding: 0.5rem;
                width: 100px;
                height: 100px;

                    .agent-photo {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    }

                    .check {
                       position: absolute;
                       max-width: 15px;
                       max-height: 15px;
                       right: 0;
                       top: 50px;
                    }
                }

            .agent-localisation {
                color: variables.$color-tertiary;
            }

            .agent-name:hover {
                color: variables.$color-primary;
            }

            .agent-contact {
                ul {
                    display: inline-flex;
                    padding: 0;
                }
                li {
                    list-style-type: none;
                }
                a {
                    text-decoration: none;
                    margin: 0 0.8rem;
                    padding: 0.5rem 0.7rem;
                    border-radius: 50%;
                    background-color: #f4f5f7;
                }
                
                #facebook {
                    color: #3f51b5;
                }

                #linkedin {
                    color: #07a5ad;
                }

                #instagram {
                    color: #b642ca;
                }

                #twitter {
                    color: #03a9f4;
                }
            }

            .card-footer {
                border-top: none;
                justify-content: center;
                margin: 15px 0;

                .btn {
                    padding: 12px 15px;
                }
            }
        }
    }
}

@include mixins.desktop {
    .agents-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include mixins.smartphone {
    .agents-list {
        grid-template-columns: repeat(1, 1fr);
    }
}