@use '../abstracts/mixins';

.property-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@include mixins.desktop {
    .property-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include mixins.smartphone {
    .property-list {
        grid-template-columns: repeat(1, 1fr);
    }
}