.badge {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    text-align: center;

    &.badge-warning {
        background-color: #FFF5E5;
        color: #FF9E10;
    }

    &.badge-success {
        background-color: #E8F8F1;
        color: #25B579;
    }

    &.badge-primary {
        background-color: #E8F8F1;
        color: #25B579;
    }
}
