@use '../abstracts/mixins';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 42px 0 rgb(32 32 32 / 15%);
    overflow: hidden;

    .card-img-container {
        position: relative;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    .card-content {
        width: 100%;
        padding: 0.5rem 1rem;
        box-sizing: border-box;

        .card-content-header {
            display: flex;
            justify-content: space-between;
        }
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
    }
}


@include mixins.desktop {
    .card {
        .card-img-container {
            img {
                height: 200px;
            }
        }
    }
}